body {
    background-color: antiquewhite;
}

.container {
    border: solid 4px;
    border-radius: 15px;
    border-color: black;
    background-color: aqua;
    height: 55vh;
    width: 40vw;
    margin: auto;
    padding: 5vh 5vw;
    display: flex;
    justify-content: center;
}

.button {
    text-align: center;
    font-size: 2.5em;
}

#selected,
#result {
    color: rgb(0, 0, 255);
}

.column {
    height: 100%;
    width: 100%;
    /* border: solid 2px; */
    /* position: relative; */
    /* padding: 5vw 5vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
}

.row {
    /* margin: 2px; */
    height: 30%;
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: center;
    /* border: solid 2px; */
}

.row:hover {
    cursor: pointer;
}

.col1 {
    border-right: solid 2px;
}

.col2 {
    border-left: solid 2px;
    border-right: solid 2px;
}

.col3 {
    border-left: solid 2px;
    /* border-right: solid 2px; */
}

.col1 .row1 {
    border-bottom: solid 2px;
}

.col1 .row2 {
    border-top: solid 2px;
    border-bottom: solid 2px;
}

.col1 .row3 {
    border-top: solid 2px;
}

.col2 .row1 {
    border-bottom: solid 2px;
}

.col2 .row2 {
    border-top: solid 2px;
    border-bottom: solid 2px;
}

.col2 .row3 {
    border-top: solid 2px;
}

.col3 .row1 {
    border-bottom: solid 2px;
}

.col3 .row2 {
    border-top: solid 2px;
    border-bottom: solid 2px;
}

.col3 .row3 {
    border-top: solid 2px;
}

div>img {
    padding: 5px;
}

#reset {
    font-size: 0.875em;
    background-color: aqua;
    border-radius: 10px;
    padding: 8px;
}

#reset:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}

.diagonal_b {
    background: linear-gradient(to bottom right, #0000 48%, red, #0000 52%);
    animation: fadeIn 2s;
}

.diagonal_a {
    background: linear-gradient(to top right, #0000 48%, red, #0000 52%);
    animation: fadeIn 2s;
}

.diagonal_h {
    background: linear-gradient(to top, #0000 46%, red, #0000 54%);
    animation: fadeIn 2s;
}

.diagonal_v {
    background: linear-gradient(to right, #0000 46%, red, #0000 52%);
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 80vw;
        height: 40vh;
    }

}

@media (min-width:800px) and (max-width: 1000px) {
    .container {
        height: 50vh;
        width: 70vw;
    }

}